{% block content %}
<div
    class="card capitalize text-xl font-semibold flex flex-col justify-between bg-white min-h-[80vh] w-[40%] p-6 rounded-3xl">
    <h1 class="text-4xl font-bold uppercase">book appointment</h1>
    <div class="user flex flex-row justify-between ">

        <label class="mt-2 " for="">user-id:</label>
        <input class="px-3 py-2 border-b-[#e4e4e4]  w-[70%] border-b-2 focus:outline-none" type="text"
            placeholder="User-id">
    </div>
    <div class="contact flex flex-row justify-between ">

        <label class="mt-2 " for="">contact no:</label>
        <input class="px-3 w-[70%] py-2 border-b-[#e4e4e4] border-b-2 focus:outline-none" type="number"
            placeholder="Contact No.">

    </div>
    <div class="date  mt-2 flex flex-row w-[70%] justify-between items-center">

        <label for="">Date of appointment: </label>
        <input class="px-3 py-2 text-[#e4e4e4] border-b-[#e4e4e4]  w-1/2 border-b-2 focus:outline-none" type="date"
            name="" id="">
    </div>
    <div class="category flex flex-row w-[70%] justify-between items-center">
        <label class="mt-2" for="category">category :-</label>
        <select class="px-3 py-2 border-b-[#e4e4e4] text-[#e4e4e4]  w-1/2 border-b-2 focus:outline-none" name="category"
            id="category">
            <option class="text-xl font-medium capitalize" value="">Cardiologist</option>
            <option class="text-xl font-medium capitalize" value="">orthopedition</option>
            <option class="text-xl font-medium capitalize" value="">ENT</option>
            <option class="text-xl font-medium capitalize" value="">urologist</option>
            <option class="text-xl font-medium capitalize" value="">general</option>
        </select>
    </div>
    <div class="doctor flex flex-row w-[70%] justify-between items-center">
        <label class="mt-2" for="doctor">select doctor :-</label>
        <select class="px-3 py-2 border-b-[#e4e4e4] text-[#e4e4e4]  w-1/2 border-b-2 focus:outline-none" name="doctors"
            id="doctors">
            <option class="text-xl font-medium capitalize" value="">Book Any</option>
            <option class="text-xl font-medium capitalize" value="">Dr. Anikesh</option>
            <option class="text-xl font-medium capitalize" value="">Dr. priyansu</option>
            <option class="text-xl font-medium capitalize" value="">Dr. aditya</option>
            <option class="text-xl font-medium capitalize" value="">Dr. kishor</option>
            <option class="text-xl font-medium capitalize" value="">Dr. sachin</option>
        </select>
    </div>
    <div class="buttons flex flex-row gap-3 self-end">
        <button
            class="mt-6 capitalize self-end relative text-white text-lg font-semibold py-2 px-3 rounded-lg w-44 bg-[#FDA621]">Register</button>
        <button
            class="mt-6 capitalize self-end relative text-white text-lg font-semibold py-2 px-3 rounded-lg w-44 bg-[#1F9EFD]">Book
            Slot</button>
    </div>
</div>
{% endblock %}