{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <title>Document</title>
    <style>
        /* font */

        @font-face {
            font-family: 'Mona Sans';
            src:
                url('Mona-Sans.woff2') format('woff2 supports variations'),
                url('Mona-Sans.woff2') format('woff2-variations');
            font-weight: 200 900;
            font-stretch: 75% 125%;
        }

        html {
            font-family: 'Mona Sans';
        }

        /* Custom CSS */
        .patient-list::-webkit-scrollbar {
            width: 0.1em;
        }

        .patient-list::-webkit-scrollbar-thumb {
            background: transparent;
        }

        .reviews::-webkit-scrollbar {
            width: 0.1em;
        }

        .reviews::-webkit-scrollbar-thumb {
            background: transparent;
        }
    </style>
</head>


<body>
    <div class="nav flex flex-row justify-between px-6 py-3 fixed z-50 bg-white w-full h-16">
        <h1 class="capitalize font-bold text-3xl">dashbord</h1>
        <div class="navelem flex flex-row gap-2 items-center">
            <h4><i class="las la-cog text-3xl font-bold"></i></h4>
            <h4><i class="las la-bell text-3xl font-bold"></i></h4>
            <h4 class="h-12 w-12"><img
                    src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="
                    alt=""></h4>
        </div>
    </div>
    <div class="main bg-[#DCE0EA]">
        <div class="page1 z-10 px-6 pb-6 pt-20  relative w-full min-h-screen">
            <div class="part1 grid grid-cols-4 gap-3">
                <div class="box bg-white flex flex-row items-center h-24 p-4 rounded-2xl">
                    <div class="icon text-5xl bg-[#E7F1FF] text-[#4F7EFC] rounded-2xl p-1">
                        <i class="las la-user-injured"></i>
                    </div>
                    <div class="text ml-5">
                        <h4 class="text-[#969696] text-base font-semibold capitalize">Total patients</h4>
                        <h2 class="text-black text-2xl font-bold">4,53,456</h2>
                    </div>
                </div>
                <div class="box bg-white flex flex-row items-center h-24 p-4 rounded-2xl">
                    <div class="icon text-5xl bg-[#EAF5EC] text-[#48BD5B] rounded-2xl p-1">
                        <i class="las la-users "></i>
                    </div>
                    <div class="text ml-5">
                        <h4 class="text-[#969696] text-base font-semibold capitalize">Total staff</h4>
                        <h2 class="text-black text-2xl font-bold">2,33,146</h2>
                    </div>
                </div>
                <div class="box bg-white flex flex-row items-center h-24 p-4 rounded-2xl">
                    <div class="icon text-5xl bg-[#F1E9F4] text-[#8532ED] rounded-2xl p-1">
                        <i class="las la-dollar-sign"></i>
                    </div>
                    <div class="text ml-5">
                        <h4 class="text-[#969696] text-base font-semibold capitalize">Avg. cost</h4>
                        <h2 class="text-black text-2xl font-bold">$125.7</h2>
                    </div>
                </div>
                <div class="box bg-white flex flex-row items-center h-24 p-4 rounded-2xl">
                    <div class="icon text-5xl bg-[#FFF0EE] text-[#F8805F] rounded-2xl p-1">
                        <i class="las la-calendar-check"></i>
                    </div>
                    <div class="text ml-5">
                        <h4 class="text-[#969696] text-base font-semibold capitalize">Total appointments</h4>
                        <h2 class="text-black text-2xl font-bold">1073</h2>
                    </div>
                </div>
            </div>
            <div class="part2 pt-6 w-full grid grid-cols-2 gap-3">
                <div class="curr-patient  p-10 bg-white rounded-2xl h-96 flex flex-row justify-between items-center">
                    <div class="details font-semibold text-lg capitalize">
                        <h1 class="text-black text-3xl font-bold">Priyansu Dash</h1>
                        <h3 class="text-[#969696] mt-2">appointment id - #214243</h3>
                        <h3 class="text-[#969696] mt-2">priyansudash03</h3>
                        <h3 class="text-[#969696] mt-2">age:- 20</h3>
                        <h3 class="text-[#969696] mt-2">blood group:- O-</h3>
                        <h3 class="text-[#969696] mt-2">gender: male</h3>
                        <h3 class="text-[#969696] mt-2">10-sep-2003</h3>
                        <h3 class="text-[#969696] mt-2">phone no:- 9502964398</h3>
                    </div>
                    <div class="image flex flex-col items-center justify-center">
                        <img class="h-72 w-72"
                            src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="
                            alt="">
                        <h1 class="text-[#969696] uppercase text-xl font-bold">current patient</h1>
                    </div>
                </div>
                <div class="patient-list  bg-white rounded-2xl h-96 overflow-y-scroll hide-scrollbar overflow-x-hidden">
                    <div class="flex flex-row justify-between items-center border-b-[1px] border-[#f0f0f0] p-4">
                        <h3 class="text-xl font-bold uppercase">appointments</h3>
                        <button class="bg-[#4F7EFC] rounded-lg py-2 px-4 font-medium text-white">See all<span
                                class="las la-arrow-right ml-1"></span></button>
                    </div>
                    <table class="w-full border-collapse ">
                        <thead class="capitalize">
                            <tr class="border-t-[1px] border-b-[1px] border-[#f0f0f0] font-semibold">
                                <td class="py-2 px-8 text-[#222]">name</td>
                                <td class="py-2 px-8 text-[#222]">gender</td>
                                <td class="py-2 px-8 text-[#222]">age</td>
                                <td class="py-2 px-8 text-[#222]">date & time</td>
                                <td class="py-2 px-8 text-[#222]">action</td>
                            </tr>
                        </thead>
                        
                        {% for n in pending %}
                        <tbody>
                            
                            <a href={% url "forDoctor2" n.patient.phone %}> 

                            <tr class="capitalize font-normal">
                                <td class="py-2 px-8 text-[#222]">{{n.patient.first_name}} {{n.patient.last_name}}</td>
                                <td class="py-2 px-8 text-[#222]">{{n.patient.gender}}</td>
                                <td class="py-2 px-8 text-[#222]">{{n.patient.age}}</td>    
                                <td class="py-2 px-8 text-[#222]">{{n.date_time}}</td>
                                <td class="py-2 px-8 text-[#222]"><a href={% url "forDoctor2" n.patient.phone %}><button>Open</button></a></td>
                            </tr>

                            </a>
                        </tbody>

                        {% endfor %}

                        
                    </table>
                </div>
            </div>
            <div class="part3 pt-6 w-full grid grid-cols-2 gap-3">

                <div class="status px-10 py-6 bg-white rounded-2xl h-56 flex flex-col">
                    <h1 class="uppercase text-black font-bold text-2xl text-center">appointment status :-</h1>
                    <div class="flex flex-row justify-between items-center pt-3">
                        <div class="session">
                            <h1 class="text-2xl font-bold text-black">Session completed?</h1>
                            <div class="emoji flex flex-row  items-center">
                                <input class="hidden" type="radio" id="checked" name="status" value="check">
                                <label for="checked"><img class="h-24 w-24" src={% static "images\check.png" %} alt=""></label>
                                <input class="hidden" type="radio" id="css" name="status" value="uncheck">
                                <label for="css"> <img class="h-16 w-16" src={% static "images\uncheck.webp" %} alt=""></label>


                            </div>
                        </div>
                        <div class="forward flex flex-col justify-between items-start">
                            <label class="capitalize font-semibold text-2xl p-3" for="doctors">forward to:</label>

                            <select class="text-xl border-2 p-3 border-black rounded-2xl px-2 py-1" name="doctors"
                                id="doctors">
                                <option value="">kunal,heart</option>
                                <option value="">Salman,orthopedition</option>
                                <option value="">kishor,ENT</option>
                                <option value="">pandey,urologist</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div
                    class="reviews px-10 py-6 bg-white rounded-2xl h-56 overflow-y-scroll hide-scrollbar overflow-x-hidden ">
                    <h1 class="uppercase text-2xl font-bold mb-3">Forwarded patients:-</h1>
                    <table class="w-full border-collapse ">
                        <thead class="capitalize">
                            <tr class="border-t-[1px] border-b-[1px] border-[#f0f0f0] font-semibold">
                                <td class="py-2 px-8 text-[#222]">name</td>
                                <td class="py-2 px-8 text-[#222]">gender</td>
                                <td class="py-2 px-8 text-[#222]">age</td>
                                <td class="py-2 px-8 text-[#222]">action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="capitalize font-normal">
                                <td class="py-2 px-8 text-[#222]">prashant pandey</td>
                                <td class="py-2 px-8 text-[#222]">male</td>
                                <td class="py-2 px-8 text-[#222]">35</td>
                                <td class="py-2 px-8 text-[#222]">icon</td>
                            </tr>
                            
                            {% for n in forwarded %}
                            
                            <tr class="capitalize font-normal" >
                                
                                <td class="py-2 px-8 text-[#222]"><a href={% url 'forDoctor2' n.patient.phone %}>
                                    {{n.patient.first_name}} {{n.patient.last_name}}
                                </a></td>
                                <td class="py-2 px-8 text-[#222]">{{n.patient.gender}}</td>
                                <td class="py-2 px-8 text-[#222]">{{n.patient.age}}</td>
                                <td class="py-2 px-8 text-[#222]">{{n.patient.status}}</td>
                            </tr>
                            
                            {% endfor %}

                            </div>
                        </div>
                        <h3 class="text-sm text-gray-500 font-semibold">250 patients</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>