{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .available-doctors::-webkit-scrollbar {
            width: 0.1em;
        }

    .available-doctors::-webkit-scrollbar-thumb {
         background: transparent;
    }
    .prev-bookings::-webkit-scrollbar {
            width: 0.1em;
        }

    .prev-bookings::-webkit-scrollbar-thumb {
         background: transparent;
    }
</style>

<body>
    <div
        class="nav px-6 py-2 z-50 flex justify-between items-center fixed border-b-2  border-b-[#bdbfce] bg-white flex-row w-full">
        <div class="left w-1/2 flex flex-row items-center gap-8">
            <div class="logo flex flex-row gap-4 ">
                <div class="icon text-5xl text-[#4F7EFC]">
                    <i class="las la-caret-up"></i>
                </div>
                <h1 class="text-3xl font-bold ">AllotMeNow.com</h1>
            </div>
            <div class="search w-1/2 py-1 px-3 flex flex-row gap-2 border-b-2 border-b-[#B0B2C4]">
                <div class="icon text-2xl"><i class="las la-search"></i></div>
                <input class="border-none active:border-none focus:outline-none w-full group "
                    placeholder="Enter your Appointment Id:- " type="text">
            </div>
        </div>
        <div class="right flex gap-3 flex-row items-center">
            <div class="bell text-2xl bg-[#e9e9ea] text-black p-2 rounded-full ">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                    </path>
                </svg>
            </div>
            <div class="user flex flex-row gap-2 items-center">
                <img class="h-14 w-14"
                    src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="
                    alt="">
                <div class="userid">
                    <h1 class="text-xl font-semibold capitalize">{{name}}</h1>
                    <h3 class="text-sm font-medium text-[#B0B2C4]">{{userid}}</h3>
                </div>
            </div>
        </div>


    </div>
    <div class="sidebar z-40 bg-white min-h-screen fixed w-72 pt-24 px-6 border-r-2  border-r-[#bdbfce] ">
        <ul>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-home text-2xl"></i>Home</li>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-stethoscope text-2xl"></i>doctors</li>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-clipboard text-2xl"></i>recent bookings</li>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-user-injured text-2xl"></i>book appoint..</li>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-cog text-2xl"></i>settings</li>
            <li
                class="capitalize text-lg font-semibold mb-5 hover:text-xl hover:bg-[#1F9EFD] hover:text-white px-4 py-2 rounded-2xl">
                <i class="mr-3 las la-sign-out-alt text-2xl"></i>log out</li>
        </ul>
    </div>
    <div class="main relative w-[calc(100%-288px)] left-72 bg-white">
        <div class="page1 min-h-screen pt-24 p-6">
            <div class="top flex flex-row justify-between">
                <h1 class="font-bold uppercase text-3xl">overview</h1>
                <button class="font-bold text-2xl px-3 py-2 rounded-2xl text-white bg-[#1E74FF]">Book
                    Appointment</button>
            </div>
            <div class="part1 grid grid-cols-3 pt-6 gap-4">
                <div class="box py-6 px-10 bg-[#EAEDFA] rounded-2xl flex flex-row items-center justify-between h-40">
                    <div class="text-[#7a90c3]">
                        <h4 class="capitalize font-semibold text-xl">total doctors</h4>
                        <h1 class="capitalize text-4xl text-black font-bold">{{noDoc}}</h1>
                    </div>
                    <div class="icon">
                        <i class="las la-stethoscope text-8xl bg-[#7895de] rounded-2xl text-[#EAEDFA]"></i>
                    </div>
                </div>
                <div class="box py-6 px-10 bg-[#FEF4EA] rounded-2xl flex flex-row items-center justify-between h-40">
                    <div class="text-[#f3d464]">
                        <h4 class="capitalize font-semibold text-xl">total patients</h4>
                        <h1 class="capitalize text-4xl text-black font-bold">{{noPatient}}</h1>
                    </div>
                    <div class="icon">
                        <i class="las la-user-injured text-8xl bg-[#f3d464] rounded-2xl text-[#FEF4EA]"></i>
                    </div>
                </div>
                <div class="box py-6 px-10 bg-[#E7F4FB] rounded-2xl flex flex-row items-center justify-between h-40">
                    <div class="text-[#65728e]">
                        <h4 class="capitalize font-semibold text-xl">total operations</h4>
                        <h1 class="capitalize text-4xl text-black font-bold">185</h1>
                    </div>
                    <div class="icon">
                        <i class="las la-clipboard-list text-8xl bg-[#65728e] rounded-2xl text-[#E7F4FB]"></i>
                    </div>
                </div>
            </div>
            <div class="part2 pt-6 w-full flex flex-row max-h-screen gap-3">
                <div class="left w-[70%]">
                    <div class="upper px-6 pt-6 mt-16 pb-0 flex items-end rounded-2xl bg-yellow-400 w-full h-72">
                        <img class="h-[150%] " src={% static "images/doc.png" %} alt="">
                        <div class="text h-full flex flex-col items-start ">
                            <h1 class="font-bold text-white text-3xl mb-4">
                                What is the difference between the first vaccine and second vaccine?
                            </h1>
                            <p class="font-medium text-white text-xl">
                                The first dose primes the immune system,
                                The second dose boosts protection's theme.
                                Side effects are stronger after dose two,
                                Completing the series is what you must do.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right w-[30%]">
                    <div class="review p-3  rounded-2xl h-full bg-[#1e74ff] ">
                        <div class="border-4 flex flex-col justify-between items-center p-8 rounded-2xl border-white">
                            <h3 class="capitalize text-white text-2xl text-center my-3 font-bold">Your Health, Our
                                Priority: We Care, You Heal,</h3>
                            <img src={% static "images/100png.png" %} class="rounded-full h-44 w-44" alt="">
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="page2 bg-[#ececec] w-full p-6 max-h-[80vh] ">
            <div class="top flex flex-row justify-between">
                <h1 class="font-bold uppercase text-black text-3xl">Bookings and doctors</h1>
                <button class="font-bold text-2xl px-3 py-2 rounded-2xl text-white bg-[#1E74FF]">Book
                    Appointment</button>
            </div>

            <div class="part1 flex flex-row mt-6 gap-3">
                <div class="prev-bookings w-1/2 h-[434px] p-8 bg-white rounded-2xl overflow-y-scroll hide-scrollbar overflow-x-hidden">
                    
                        <div class="flex flex-row justify-between items-center border-b-[1px] border-[#f0f0f0] pb-3">
                            <h3 class="text-xl font-bold uppercase">Recent bookings</h3>
                            <button class="bg-[#4F7EFC] rounded-lg py-2 px-4 font-medium text-white">See all<span
                                    class="las la-arrow-right ml-1"></span></button>
                        </div>
                        <table class="w-full border-collapse text-base ">
                            <thead class="capitalize">
                                <tr class="border-t-[1px] border-b-[1px] border-[#f0f0f0] font-semibold">
                                    <td class="py-2 px-2 text-[#222]">S.no</td>
                                    <td class="py-2 px-2 text-[#222]">date & time</td>
                                    <td class="py-2 px-2 text-[#222]">appointed for</td>
                                    <td class="py-2 px-2 text-[#222]">action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">1</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">2</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">3</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">4</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">5</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">6</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">7</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">8</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">9</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>
                                <tr class="capitalize font-normal">
                                    <td class="py-2 px-2 text-[#222]">10</td>
                                    <td class="py-2 px-2 text-[#222]">1 sep 2023, 11:00 am</td>
                                    <td class="py-2 px-2 text-[#222]">Dr. kishor</td>
                                    <td class="py-2 px-2 text-[#222]">icon</td>
                                </tr>

                            </tbody>
                        </table>
                    
                </div>
                <div class="available-doctors w-1/2 bg-white p-6 h-[434px] rounded-2xl overflow-y-scroll hide-scrollbar overflow-x-hidden">
                    <div
                        class="flex flex-row justify-between items-center uppercase border-b-[1px] mb-4 border-[#f0f0f0] p-4">
                        <h3 class="text-2xl font-bold">Available doctors</h3>
                        <button class="bg-[#4F7EFC] rounded-lg py-2 px-4 font-medium text-white">See all<span
                                class="las la-arrow-right ml-1"></span></button>
                    </div>
                    <div>
                        <div class="flex h-full flex-col pt-2 pb-2 pl-4 pr-4">
                            
                            {% for n in data %}
                            <div class="flex flex-row justify-between mb-4">
                                <div class="flex flex-row items-center">
                                    <img src={{n.image.imageURL}} alt="" class="w-14 cover h-14 bg-[#E7F1FF] p-1 rounded-full">
                                    <div class="ml-4 capitalize">
                                        <h4 class="text-[#222] font-semibold text-[17px] ">{{n.first_name}} {{n.last_name}}</h4>
                                        <small class="text-[#8390A2] font-medium ">{{n.speciality}}</small>
                                    </div>
                                </div>

                                <div class="contact  flex justify-center items-center mr-2 text-2xl">
                                    <i class="las la-ellipsis-v"></i>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page3 bg-[#ececec] w-full p-6 min-h-[80vh]">
            <h1 class="uppercase font-bold text-black text-3xl">Book A Slot</h1>
            <div class="card  bg-white flex flex-col h-[70vh] justify-between rounded-2xl mt-6 p-6">
                <label class="text-2xl font-semibold capitalize" for="name">Enter Your name :-</label>
                <input class="px-3 py-2  border-[#a8a8a8] rounded-2xl w-1/2 border-2" placeholder="Enter your name"
                    type="text" name="name">
                <label class="text-2xl font-semibold capitalize" for="number">Enter Your phone no. :-</label>
                <input class="px-3 py-2 border-[#a8a8a8] rounded-2xl w-1/2 border-2" placeholder="Enter your mobile no"
                    type="text" name="number">
                <label class="text-2xl font-semibold capitalize" for="datetime">select date and time :-</label>
                <input class="px-3 py-2 border-[#a8a8a8] rounded-2xl w-1/2 border-2" type="datetime-local"
                    name="datetime">
                <label class="text-2xl font-semibold capitalize" for="category">categry :-</label>
                <select class="text-xl border-2 p-3 border-[#a8a8a8] w-1/2 rounded-2xl px-3 py-2" name="category"
                    id="category">
                    <option class="text-xl font-medium capitalize" value="">Cardiologist</option>
                    <option class="text-xl font-medium capitalize" value="">orthopedition</option>
                    <option class="text-xl font-medium capitalize" value="">ENT</option>
                    <option class="text-xl font-medium capitalize" value="">urologist</option>
                    <option class="text-xl font-medium capitalize" value="">general</option>
                </select>
                <label class="text-2xl font-semibold capitalize" for="doctor">select doctor :-</label>
                <select class="text-xl border-2 p-3 border-[#a8a8a8] w-1/2 rounded-2xl px-3 py-2" name="doctors"
                    id="doctors">
                    <option class="text-xl font-medium capitalize" value="">book any</option>
                    <option class="text-xl font-medium capitalize" value="">Dr. Anikesh</option>
                    <option class="text-xl font-medium capitalize" value="">Dr. priyansu</option>
                    <option class="text-xl font-medium capitalize" value="">Dr. aditya</option>
                    <option class="text-xl font-medium capitalize" value="">Dr. kishor</option>
                    <option class="text-xl font-medium capitalize" value="">Dr. sachin</option>
                </select>

                <button
                    class="text-white w-48 px-3 py-2 relative left-[80%] text-center rounded-2xl font-bold text-xl  bg-blue-600">Book
                    a Slot</button>

            </div>
        </div>
    </div>
</body>

</html>